
  @import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Poor+Story&display=swap');

* {
    font-family: 'Bagel Fat One', cursive;
font-family: 'Poor Story', cursive; /* 폰트를 설정 */
}

.p1_size1 {
    font-size: xx-small;
}

.p1_size2 {
    font-size: medium;
}

.p1_size3 {
    font-size: xx-large;
}
.p1_size4 {
  /*  font-size: 20px; */
    font-size: 3em; /* 부모요소의 글자크기 기준 */
}
.p1_size5 {
    font: size 1.5em; 
}
.p1_size6 {
    font: size 1.5rem; /*최상위 요소의 글자 크기 기준*/
}
.p1_weight1 {
    font-weight: 100;
}
.p1_weight2 {
    font-weight: 400;
}
.p1_weight3 {
    font-weight: 500;
}