.deco {
     text-decoration: none;
     text-decoration: underline;
     text-decoration: line-through;
}

.height {
    line-height: 2em;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.center {
    background-color: cadetblue;
    height: 300px;
    line-height: 300px;
    text-align: center; /*가운데 정렬을 해줍니다.*/
}