.cook1 {
     list-style-type: none;
     list-style-type: decimal;
     list-style-type: upper-alpha;
}

.cook2 {
     list-style-type: none;
     list-style-position: inside;
}

.cook3 {
     list-style-image: url(../html/JPG/tanghuru.jpg)
    }

