div {
    width: 150px;
    height: 150px;
    border: 5px solid pink;
    padding: 20px;
    background-color: antiquewhite;
}
.div-1 {
    box-sizing: border-box;
}
.div-2 {
    width: 150px;
    height: 150px;
    border: 5px solid pink;
    padding: 20px;
    background-color: antiquewhite;
    box-sizing: content-box;
}
.div-3 {
    width: 150px;
    height: 150px;
    border: 5px solid pink;
    padding: 20px;
    background-color: antiquewhite;
    box-shadow: 10px 10px 10px 10px #e07dbf inset;
}
