div {
    width: 200px;
    height: 20px;
    margin: 5px;
}



.div-1 {
    width: 200px;
    height: 20px;
    border-style: none;
}
.div-2 {
    border-style: solid;
    border-color: aqua;
    border-width: 5px 10px 15px 20px;
}
.div-3 {

    border-style: dotted;
    border-color: palevioletred;
    border-width: 5px;

}

.div-4 {
    border-style: dashed;
    border-width: 5px;
    border-color: yellow;
}
.div-5 {
    border-style: double;
    border-width: 5px;
    border-color: violet;
    border-width: 5px 10px 15px 20px;
}   
.div-6 {
    height: 200px;
    border: 4px solid #adff2f;
    border-radius: 10px;
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;

}