body {
    background-image: url(../html/JPG/dog.jpg);
    background-size: cover;
}
.div-img {
    background-image: url(../html/JPG/dog.jpg);
    width: 500px;
    height: 500px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: top 10% left 30%;
    border: 1px solid #000;
    overflow: scroll;
}