div {
    width: 400px;
    height: 200px;
    border: 2px solid #000;
}


.div1 {
    background: linear-gradient(
        to right
        , red
        , orange
        , yellow
        , green
        , blue
        , navy
        ,purple

    );
}
.div2 {
    background: radial-gradient(
        circle at 50% 40%
        , red
        , orange
        , yellow
        , green
        , blue
        , navy
        ,purple


    );

}