body {
    background-color:#ffffff;
}      
#container{
    margin:0 auto;	
    width:600px;
    height:700px;
padding: 20px;      
background:#eea6a6;  
position: relative;      
}
.img {background: url(../html/JPG/dog.jpg);
    width: 400px;
    height:250px;
    background-size: cover;  
    position: absolute;
    right: 0px;
    bottom: 0px;
}
h1 {
    background-color:#f7abed;
    color:white;
    text-align:center;
    padding:20px;
}
h2 {
    text-align:center;
    font-style:italic;
    margin-bottom:50px;
}
h3 {
    color:#cf3b00;
}
ul{
    margin:20px;
    list-style-type:none;
}				

/*배경색이 어두운 청록색(#02233b)을 전체인 body
에 넣고,
container요소로 가로 
중앙 정렬되며 너비는 600px, 높이는 700px로 
설정됩니다.
안쪽 여백은 20px이고, 배경색은 흰색
(#fff)으로 설정 했습니다. 
이 컨테이너는 상대적인 위치를 가지며 
내부에 콘텐츠를 포함합니다.
.img 클래스를 가진 요소로 배경인 tanghuru.jpg
이미지를 가리키며 크기는 250px x 250px로 
 설정 했습니다
이미지는 컨테이너의 오른쪽 아래 
모서리에 배치했습니다.
h1 제목은 어두운 청록색 배경(#004344)과
글자색은 흰색으로 했으며
제목 스타일을 가진 내부 여백은 20px이며
중앙에 배치했습니다.
h2 부제목은 가운데 정렬되며 이탤릭체 
스타일을 넣었고,아래쪽 여백은 50px입니다.
h3 작은 제목은 주황색 글자색(#cf3b00)으로
 설정했습니다
목록(ul)은 주변에 마진20px 여백을 넣었습니다.*/