.trans{
	text-transform: capitalize;
	/* 첫글자만 대문자 */
	text-transform: lowercase;
	/* 모두 소문자 */
	text-transform: uppercase;
	/* 모두 대문자 */
}

.spacing{
	letter-spacing: 0.5em;
	/* 자간 */
}

.w_spacing{
	word-spacing: 30px;
	/* 단어 사이의 공간 설정 */
}

.shadow{
	color: red;
	text-shadow: 10px 10px 5px orange;
	/* text-shadow:가로 세로 번짐정도 색상; */
}