.container {
	background-color: gray;
	margin: 10px;
	width: 60vw;
	height: 60vh;
	display: flex;
	flex-direction:row;
	/* flex항목 배치 */
	flex-wrap: wrap;
	/* flex 항목의 줄 바꾸기 (여러줄에 표시) */
	flex-flow: row wrap;
	/* 위에 2개 한번에 사용하는 법 */
	/* justify-content: space-around; */
	/* 플렉스 항목 간의 간격 적용 (현재 전체 항목 같은 간격) */
	/* align-items: center; */
	/* 플렉스 박스에서 교차축 정렬 (stretch 등등) */
	align-content: center;
	/* 교차축 플렉스 항목간의 간격 */
	

} 

.item {
	width: 15vw;
	height: 15vh;
	background-color: skyblue;
	border: 1px solid black;
	box-sizing: border-box;
}
/* flex사용 시 부모요소 안에 자식요소들을 배치하고
	부모 요소에게 flex를 줄 것 ! */

.item2 {
	align-self:flex-start;
	/* 따로 주고 싶을때 */
}
