body {
	width: 605px;
	margin: auto; 
}

ul {
	height:100%;
	box-shadow: 1px 3px 3px 3px #000;
	display: inline-block;
	padding: 0px;
}

nav ul li {
	float:left;
	width: 100px;
	height: 100%;
	line-height: 40px;
	list-style-type: none;
	text-align: center;
	background-color: #a9a9a9;
	border-width: 0px 1px 0px 0px;
	border-color: #000000;
	border-style: solid;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color:black;
	display: block;
}


nav ul li:last-of-type {
	border: none;
}

li:hover {
	background-color: #555;
}

a:hover {
	color: #fff;
}

li:nth-of-type(6):hover {
	background-color: #b30000;
}

