.container {
	background-color: gray;
	width: 650px;
	height: 650px;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	padding: 10px;
}

.item {
	width: 49%;
	height: 32%;
	background-color: rgb(105, 215, 243);
	border: 1px solid black;
	box-sizing: border-box;
}

.div_1 {
	width: 49%;
	height: 32%;
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	box-sizing: border-box;
}

.box_size {
	width: 100%;
}

.box_size_2 {
	width: 100%;
	height: 47%;
}/* 





	/* flex항목 배치 */
	/* flex-wrap: wrap; */
	/* flex 항목의 줄 바꾸기 (여러줄에 표시) */
	/* flex-flow: row wrap; */
	/* 위에 2개 한번에 사용하는 법 */
	/* justify-content: space-around; */
	/* 플렉스 항목 간의 간격 적용 (현재 전체 항목 같은 간격) */
	/* align-items: center; */
	/* 플렉스 박스에서 교차축 정렬 (stretch 등등) */
	/* align-content: center; */
	/* 교차축 플렉스 항목간의 간격 */