* {
	box-sizing: border-box;
}

.top_container {
	width: 500px;
	height: 200px;
	margin: 0 auto;
	text-align: center;
}




.container {
	width: 400px;
	height: 490px;
	margin:0 auto;
	text-align: center;
	font-size: 30px;
	border: 1px solid #d3d6d6;
	padding: 10px;
	border-radius: 10px;
}

.container tr {
	width: 100%;
	height: 70px;
}

.container td {
	padding: 10px;
	width: 25%;
	height: 70px;
	border-radius: 5px;
}
.bgc_f1f3f4 {
	background-color: #f1f3f4;
}

.bgc_dadce0 {
	background-color: #dadce0;
}

.container td, .container input {
	/* 드래그 안되게 하기 */
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.container_hover td:hover {
	border: 1px solid #000;
}

.container td:active {
	border: 1px solid #000;
}

.container input {
	border:none;
	width: 90%;
	height: 60%;
	padding: 5px 10px;
	text-align: end;
	font-size:20px;
	letter-spacing: 1px;
}

.container input:focus {
	outline: none;
}