* {
	font-family: 'NanumGothic';
	box-sizing: border-box;
	padding: 0;
	font-size: 14px;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
}


/* ----------------
배경 효과
----------------- */
body{
	background-image: url('/mini_board/src/img/timerbg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.item{
position: absolute;
width: 900px;
margin:60px auto;
padding:15px;
overflow: hidden;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 30px;
box-shadow: 0 6px 20px -15px #000;
border-width: 1px 1px 0 0;
border-color: #fff;
border-style: solid;
background-color: rgba(255,255,255,0.5);
}

.header_frame {
	width: 100%;
	background-image: url(/mini_board/src/img/header_img.jpg);
	padding: 1.8rem;
}

.header_frame h2 {
	color: #000;
	text-align: center;
	font-size: 4rem;
}


/* ----------------
table css
----------------- */
.member {
	border-collapse: collapse;
	width: 800px;
	margin: 30px auto;
}

.member th,.member td {
	text-align: center;
}

.member_thead {
	background-color: #f1f2fa;
}

.member_thead tr {
	height: 55px;
	border-top: 3px solid #555;
	border-bottom: 1px solid #000;
}

.member_thead th {
	color: #000;
}

.member_tbody tr {
	border-bottom: 1px solid #ccc;

}

.member_tbody td {
	height: 55px;
	background-color: rgba(255, 255, 255, 0.7)
}

.member_tbody td a, .section_frame a {
	color: #000;
}


/* ----------------
button css
----------------- */
.button_layout {
	width: 800px;
	margin: 30px auto;
}

.button_item {
	float:right;
	text-align: center;
	height: 40px;
	padding: 0px 10px;
	line-height: 40px;
	font-size: 18px;
	border: 1px solid #ccc;
	border-radius:25px;
    color: #000;
	background-color: #f0f0f0;
	margin: 3px;
}

.button_item:hover {
	border: 2px solid #000;
}


/* ----------------
section css
----------------- */
.section_frame {
	width: 800px;
	margin: 0 auto;
	text-align: center;
    border-left: 0;
}

.section_frame a {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 40px;
	font-size: 18px;
	border: 1px solid #ccc;
}

.hovor_bgc:hover {
	background-color: #ccc;
}

.bgc_black {
	background-color: #000;
	color: #fff !important;
}


/* ----------------
insert 페이지 css
----------------- */
.member_layout {
	width:800px;
	height:500px;
	margin: 30px auto;
	border-collapse: collapse;
}

.member_layout input, .member_layout textarea {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
}

/* .member_layout textarea {
	border:none;
} */

.member_layout textarea {
	margin-top:5px;
}
.member_layout textarea, .member_layout input {
	border:none;
}

.member_layout th, .member_layout td {
	border:1px solid #ccc;
	background-color: rgba(255, 255, 255, 0.7);
}

.member_layout td {
	padding-left: 3px;
}

.bgc_f1f2fa {
	background-color: rgba(241, 242, 250);
}


/* ----------------
detail 페이지 css
----------------- */
.detail_tbody tr {
	color: #555;
}


/* ----------------
delete 페이지 css
----------------- */
.delete_cap {
	margin: 0 auto;
}

.select_hover:hover {
	background-color: rgba(85, 85, 85, 0.5);
}