/* DEFAULT */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img { border: none; }
select { height: 20px; }
input.radio { width: 12px; height: 12px; margin: 0; padding: 0; }
input.checkbox { width: 12px; height: 12px; margin: 0; padding: 0; }
figure, figcaption {display: block; }
figure {margin:0; }
figure.figImageBorder img {border:1px solid black; }
figcaption {margin:3px 0 0; }
ul, ol {list-style: none; }

div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset {
	float: left;
	display: inline;
	border: 0;
	height: auto;
}

body, input, select, textarea, a, th, td, caption, h1, h2, h3, h4, h5, h6 {
	font-family: gulim, 굴림;
	color: rgb(0, 0, 0);
	font-weight: normal;
	letter-spacing: 0px;
	font-style: normal;
	text-decoration: none;
}

/* header */
.listHeader {
	width: 100%;
	height: 70px;
	background-color: #333949;
	margin-top:30px;
}

.listHeaderLayout {
	width: 1300px;
	min-height: 1500px;
	margin: 0px auto;
	display: block;
	float: none;
}

.listHeader .listHeaderLayout .listLogo {
	width: 170px;
	height: 70px;
}

.listHeader .listHeaderLayout .listLogo .title {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:40px;
	font-weight:bold;
	color:#fff;
}

.listHeader .listHeaderLayout .gnb {
	margin-left: 100px;
	height: 100%;
}

.listHeader .listHeaderLayout .gnb li {
	width:130px;
	height: 70px;
}

.listHeader .listHeaderLayout .gnb li a {
	display: block;
	font-size: 15px;
	font-weight: bold;
	line-height: 70px;
	color: #8f96ad;
	text-align: center;
}

.listHeader .listHeaderLayout .gnb li a:hover {
	color: yellow;
}
/* 활성화 되어 있을때도 yellow로 표시하고 hover은 제외시킬것 */

/* aside */
.listBody .listContainer{
	width: 1300px;
	margin: 0px auto;
	text-align: center;
	display: block;
	float: none;
	overflow: hidden;
}

.listContainer .listLeftMenu {
    width: 180px;
	min-height: 1500px;
    float: left;
	margin-top: 20px;
	border-right: 1px solid #bebebe;
	padding-right: 20px;
}

.listContainer .listLeftMenu .listBanner a img{
    width: 100%;
	height: 95px;
	margin-top: 5px;
}

.listContainer .listLeftMenu .menuGroup{
    width: 100%;
	margin-top: 30px;
	border-bottom: 1px solid #333949;
}

.listContainer .listLeftMenu .menuGroup .textMenuType1 {
	width: 100%;
	height: 20px;
	display: block;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	border-bottom: 3px solid #46b0e6;
	margin-top: 10px;
	box-sizing: content-box;
	color: #46b0e6;
	line-height: 0px;
}

.listContainer .listLeftMenu .menuGroup .menuItems ul li {
	width: 100%;
	line-height: 30px;
}

.listContainer .listLeftMenu .menuGroup .menuItems ul li a {
	width: 100%;
    display: block;
	text-align: left;
}

.listContainer .listLeftMenu .menuGroup .menuItems ul li a {
	width: 100%;
    display: block;
	text-align: left;
}

.listContainer .listLeftMenu .menuGroup .menuItems ul .textMenuType2 a {
	font-size:14px;
}

.listContainer .listLeftMenu .menuGroup .menuItems ul .textMenuType3 a {
	font-size:13px;
	color: #6e6e6e;
}

.hot {
	padding-right: 15px;
    background: url(/side_project/mini_test/src/mark_hot.gif) no-repeat right 1px;
}
/* main */
.listBody .listContainer .listMain {
	width: 900px;
	min-height: 1500px;
	float: left;
	overflow: hidden;
	margin: 20px 20px 0 20px;
}

.listBody .listContainer .listMain .listtop {
	width: 900px;
}
/* footer */
